body{


}
h1{
    position: absolute;
    width: 532px;
    height: 100px;
    left: 1874px;
    top: 31px;
    margin-top: 31px;

    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 18px;
    /* or 20% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
#back{
    width: 4427px;
    height: 1087px;

    left: 0px;
    top: -7px;

    background: linear-gradient(107.1deg, rgba(147, 97, 255, 0.71) 3.18%, #2CB9A7 90.99%);
}
#glass{
    position: absolute;
    width: 4343px;
    height: 829px;
    left: 36px;
    top: 171px;
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

#semestr{
    //position: absolute;
    width: 268px;
    height: 55px;
    left: 60px;
    top: 204px;

    margin-top: 33px;
    margin-left: 24px;

    background: #FFFFFF;
    border-radius: 15px;
}
#semestr2{
 //position: absolute;
     width: 268px;
     height: 55px;
     left: 60px;
     top: 204px;
     margin-top: 30px;
     margin-left: 24px;

     background: #FFFFFF;
     border-radius: 15px;
 }
#numBlock{
//position: absolute;
    width: 217px;
    height: 55px;
    top: 204px;
    margin-left: 6px;
    margin-top: 33px;

    background: #FFFFFF;
    border-radius: 15px;
}
#dateBlock{
//position: absolute;
    width: 217px;
    height: 55px;
    top: 204px;
    margin-left: 6px;
    margin-top: 30px;

    background: #FFFFFF;
    border-radius: 15px;
}

#dataBlock{


    width: 217px;
    height: 55px;
    top: 374px;
    margin-left: 6px;
    margin-top: 30px;

    background: #FFFFFF;
    border-radius: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
}

#dataString{


    width: 4500px;
    height: 55px;
    margin-left: 100px;
}

#data{
    width: 4500px;
    height: 600px;
    margin-left: 100px;
}


#bigDay{
    width: 267px;
    height: 187px;
    left: 61px;
    top: 376px;

    margin-left: 25px;
    margin-top: 30px;

    background: #FFFFFF;
    border-radius: 15px;
}
#day{
    width: 267px;
    height: 55px;
    left: 61px;
    top: 574px;

    margin-left: 25px;
    margin-top: 9px;

    background: #FFFFFF;
    border-radius: 15px;
}
p16{
    //position: absolute;
    width: 196px;
    height: 54px;
    left: 97px;
    top: 204px;
    margin-left: 40px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 35px;
    /* or 88% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
p17{
//position: absolute;
    width: 196px;
    height: 54px;
    left: 97px;
    top: 204px;
    margin-left: 98px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 35px;
    /* or 88% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
p18{
//position: absolute;
    width: 196px;
    height: 54px;
    left: 97px;
    top: 204px;
    margin-left: 85px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 35px;
    /* or 88% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
p19{
    position: absolute;

    margin-left: 23px;
    margin-top: 7px;

    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 35px;
    /* or 88% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
p20{
    width: 164.28px;
    height: 58px;
    left: 360px;
    top: 301px;
    margin-left: 38px;

    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 18px;
    /* or 64% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
pBigDays{
    width: 230px;
    height: 39px;
    left: 86px;
    top: 450px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 175px;

    color: #000000;
}
pDays{
    width: 178px;
    height: 39px;
    left: 86px;
    top: 582px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;

    color: #000000;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 0px;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    padding-left: 0px;
    padding-right: 0px;

}
.overlay{

    position: absolute;
    top: 0px;
    left:0px;
}

