body {

}

h1{
    position: absolute;
    width: 532px;
    height: 100px;
    left: 1874px;
    top: 31px;
    margin-top: 31px;

    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 18px;
    /* or 20% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#back{
    height: 955px;
    width: 4427px;
    left: 0px;
    top: -7px;

    background: linear-gradient(107.1deg, rgba(147, 97, 255, 0.71) 3.18%, #2CB9A7 90.99%);
}
#glass{
    position: absolute;
    width: 4343px;
    height: 698px;
    left: 36px;
    top: 171px;
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

#semestr{
    //position: absolute;
    width: 268px;
    height: 55px;
    left: 60px;
    top: 204px;

    margin-top: 33px;
    margin-left: 24px;

    background: #FFFFFF;
    border-radius: 15px;
}
#semestr2{
 //position: absolute;
     width: 268px;
     height: 55px;
     left: 60px;
     top: 204px;
     margin-top: 30px;
     margin-left: 24px;
    margin-bottom: 21px;

     background: #FFFFFF;
     border-radius: 15px;
 }
.numBlock{
//position: absolute;
    width: 217px;
    height: 55px;
    top: 204px;
    margin-left: 6px;
    margin-top: 33px;

    background: #FFFFFF;
    border-radius: 15px;
}
.dateBlock{
//position: absolute;
    width: 217px;
    height: 55px;
    top: 204px;
    margin-left: 6px;
    margin-top: 30px;

    background: #FFFFFF;
    border-radius: 15px;
}

#dataBlock{
    width: 217px;
    height: 55px;
    top: 374px;
    margin-left: 6px;
    margin-top: 30px;
    padding: 0px;
    background: #FFFFFF;
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
}

.data{
    height: 35px;
    font-size: 22px;
}
.dataString{

    display: inline-block;
    height: 55px;
    margin-bottom: 11px;
    font-size: 0;


}

#dataArr{


    margin-left: 283px;
}





.bigDay{
    width: 267px;
    height: 187px;
    left: 61px;
    top: 376px;

    margin-left: 25px;
    margin-top: 9px;

    background: #FFFFFF;
    border-radius: 15px;
}
.day{
    width: 267px;
    height: 55px;
    left: 61px;
    top: 574px;

    margin-left: 25px;
    margin-top: 11px;

    background: #FFFFFF;
    border-radius: 15px;
}
p16{
    //position: absolute;
    width: 196px;
    height: 54px;
    left: 97px;
    top: 204px;
    margin-left: 40px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 35px;
    /* or 88% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
p17{
//position: absolute;
    width: 196px;
    height: 54px;
    left: 97px;
    top: 204px;
    margin-left: 98px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 35px;
    /* or 88% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
p18{
//position: absolute;
    width: 196px;
    height: 54px;
    left: 97px;
    top: 204px;
    margin-left: 85px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 35px;
    /* or 88% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
p19{
    position: absolute;

    margin-left: 10px;
    margin-top: 7px;

    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 35px;
    /* or 88% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
p20{
    width: 164.28px;
    height: 58px;
    left: 360px;
    top: 301px;
    margin-left: 38px;

    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 18px;
    /* or 64% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}


#dayText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    display: inline-block;
    color: #000000;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 0px;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    padding: 0px;

}
.overlay{
    position: absolute;
    top: 1px;
    left:0px;
}

.iconM{
    width:37px;
    height:37px;
    position: absolute;
    left: 1px;
    margin-top: 24%;
    background-image:url(../Icons/minus.svg);
}
.iconP{
    width:37px;
    height:37px;
    position: absolute;
    left: 1px;

    background-image:url(../Icons/plus.svg);
}

.exit{
    position: absolute;
    width:24px;
    height:24px;
    top: 26px;
    left: 598px;

    background: url(../Icons/close.svg);
}

#overlayInput{
    position: absolute;
    width: 652px;
    height: 367px;
    display: none;



    background: #FFFFFF;
    border-radius: 35px;
}
p3{
    width: 172px;
    height: 53px;
    left: 84px;
    top: 496px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 18px;
    /* or 36% */

    display: flex;
    text-align: right;
    color: #000000;
    align-items: center;
}

.inputField{
    border: 0px;
    height: 40px;
    font-size: 45px;
    width: 260px;
    text-align: right;

}
#rings{
    width: 552px;
    height: 43px;
    margin-left: 46px;
    margin-top: 15px;
}
p45{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    /* or 100% */

    display: flex;
    align-items: center;
}
#ball1{
    width: 43px;
    height: 43px;

    background-color: #FF6464;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 50%;

}
#ball2{
    width: 43px;
    height: 43px;
    margin-left: 8px;
    background-color: #72FF80;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 50%;

}
#ball3{
    width: 43px;
    height: 43px;
    margin-left: 8px;
    background-color: #9361FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 50%;

}
#ball4{
    width: 43px;
    height: 43px;
    margin-left: 8px;
    background: linear-gradient(139.47deg, #FF0000 14.22%, #FF7A00 29.82%, #FCFF6A 43.85%, #00FF19 54.77%, #01FFFF 64.13%, #4575FF 76.61%, #8000FF 88.7%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 50%;

}
#dude{
    opacity: 0%;
    width: 43px;
    height: 43px;;
}

.dayStringAndBlock{

    margin: 0;
    padding: 0;

    font-size: 0;

}
